<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25477607577-24c6e3fd97ed5srgflnnlsfrtoii88ki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25477607577-24c6e3fd97ed5srgflnnlsfrtoii88ki</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>25477607577-hefnf8jum0rjnf34mrhi1slfcmv35ti7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCRdmCdlZSqKmq_XYIaaTOgh1a1NLk7HvI</string>
	<key>GCM_SENDER_ID</key>
	<string>25477607577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.propzy</string>
	<key>PROJECT_ID</key>
	<string>propzy-web</string>
	<key>STORAGE_BUCKET</key>
	<string>propzy-web.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25477607577:ios:e7c8d33b13a7447f560808</string>
</dict>
</plist>